
img{
  margin-top: 10%;
  padding: 5%;
  width:20%;
  height: 20%;
}
body{
  background-image: url('im1.jpg');
  background-repeat:  repeat;
  width: 99%;
 font-family: 'Acme', sans-serif;
}
.hedar{

  width: 100%;
  height:60px;
  background-image: linear-gradient(to right,  #E4B4C2, #E7CEE3 ,#E0E1E9 );
/*  /background-image: linear-gradient(to right,  #011638, #2E294E ,#9055A2 ,#E8C1C5);/
  /background-image: linear-gradient(to right,  #523249, #815355 , #C3B299);/*/
  border-bottom-right-radius: 100px; 


}

.firstPage{

  height: 550px;
  width: 800px;
  background-image: linear-gradient(to right,  #E4B4C2, #E7CEE3 ,#E0E1E9 );

  border-radius: 40px;
  margin-top: 20px;
  margin-left:30%; 
  font-size: 50px;
  border: 5px solid #E0E1E9;

}
#pName{
  color:white;
  text-align: left;
  font-size: 30px;
}
.fa-question-circle{
color: white;
font-size: 50px;
padding: 10px;

}
.fa-play-circle{
  color: white;
font-size: 20px;

padding: 10px;
}
.fa-calculator{
    color: white;
font-size: 20px;
padding: 10px;
}
#in1{
  width: 300px;
  height: 50px;
  border-radius: 50px;
}
#userName{
  color:white;
 text-decoration: center;
 margin:10%;

 font-size: 30px;
 padding: 40px;

}

button {
  background-color: gray;
  color: white;
  padding: 15px 15px;
  text-align: center;
  font-size: 16px;
  margin: 15px;
  border-radius: 20px;

}
.btn1{
  margin-left: 30%;
}
.btn2{

 background-color: green;
}


.levels{
  width: 300px;
  height: 50px;
  display:none;
  color:white;
  background-color: #B098A4;
  font-size:50px;
  text-align: center;
  margin-top: 70px; 
  border: 2px solid #E0E1E9; 
  padding: 5px; 
  border-radius: 70px;
}

#div1{
  margin-left: 150px;
}
#div2{
  margin-left: 200px;


}






.buttonNext{
  margin-top: 100px;
}


/*.btn3{
   margin: 80px;
   margin-left:  80px;

}*/